html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%
}
#videoNumber {
    width: calc(100% - 20px);
    height: 300px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    text-align: center;
    line-height: 280px;
}
.btn-yt {
    width: calc(100% - 20px);
    height: 300px;
    display: inline-block;
    padding: 10px 10px;
    font-size: 50px;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 280px;
}